<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据爬取</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <!--    加载表头-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#meru").load("meru");
            $("#home").load("home");
        });

        $("#message").on(function () {

        })
    </script>
    <!--    表头固定-->
    <style>

        div#meru {
            position: fixed;
            top: 0;
            left: 0;
        }

    </style>

</head>
<body>
<div>
    <!--表头-->
    <div>
        <div style="width:100%;height:60px" id="meru" class="meru"></div>
    </div>


    <div class='ui container'>
        <div style="width:100%;height:60px" id="home"></div>

        <div>
            <img class="ui fluid image" src="/images/icon/siteimage.png">
        </div>
        <div>
            <form class="ui form" action="/getUrl">
                <div class="ui form">
                    <div class="field">
                        <textarea id="url" name="url" placeholder="クローラーURl記入(複数可)"></textarea>
                    </div>
                </div>
                <br>
                <hr>
                <input class="fluid ui button" type="submit" value="爬取">
            </form>
        </div>
        <br>
        <div class="ui form">
            <div class="inline fields">
                <label>店舗を選択</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="frequency" checked="checked">
                        <label>清雲商店</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="frequency">
                        <label>キヨウ商店</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="frequency">
                        <label>その他</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="frequency">
                        <label>その他2</label>
                    </div>
                </div>
            </div>
        </div>
        <div align="center">
            <a th:href="@{/putItemInfo}"><input class="fluid ui button" type="button" value='下载数据'></a>
        </div>
        <br><br>
<!--        <a th:href="@{/setDate}">-->
<!--            <button type="submit">更新数据</button>-->
<!--        </a>-->
<!--        <br>-->
        <div class='ui container' align="center">
            <!--/*@thymesVar id="message" type=""*/-->
            <p style="color: brown" id="message" th:text="${message}"></p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>