<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据爬取</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel=”stylesheet” href=”https://use.fontawesome.com/releases/v5.1.0/css/all.css“>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <!--    加载表头-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#meru").load("meru");
        });

        function select() {
            var shopName = $('select option:selected').val();
            $.ajax({
                url: "{{url('/user/goods_select')}}",
                type: "GET",
                dataType: "json",
                //把获取到的value值传给服务器
                data: {searchConditions: shopName},
                success: function (res) {
                    $("#itemList").empty();
                    $.each(res, function (i, n) {
                        $("#itemList").append(
                            ""
                        );
                    })
                },
                error: function (xht, status, error) {
                    alert("请求失败:" + error)
                }
            });
        }

        //shop名でアイテムを検索
        function findIteminfoBySiteShop() {
            $("#findIteminfoBySiteShop").removeAttr("action");
            $("#findIteminfoBySiteShop").attr("method", "get");
            $("#findIteminfoBySiteShop").attr('action', "/findIteminfoBySiteShop");
            $("#findIteminfoBySiteShop").submit();
        }

        //全选和反选
        function selectAll() {
            //id=all是全选/反选的checkbox，判断是选中还是没选中
            var isChecked = $("#allchecked").is(':checked');
            //获取所有checkbox组成的数组
            var checkedArrs = $("input[type='checkbox']:checked");
            //判断是全选还是反选
            if (isChecked) {
                $("input[type='checkbox']").each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $("input[type='checkbox']").each(function () {
                    $(this).prop('checked', false);
                });
            }
        }

        // $(function () {
        //     $('#bulk-operation').click(function () {
        //         var checkedValue = $('tbody input:checked');
        //         var Values = []
        //         checkedValue.each(function (){
        //             Values.push($(this).val());
        //         })
        //         $.ajax({
        //             url: '/bulkOperation',
        //             type: 'post',
        //             data: {"listString": Values},
        //             dataType: 'json',
        //             success: function (data) {
        //                 $("#message").val(data);
        //             },
        //             error: function (data) {
        //                 $(#message).val(data);
        //             }
        //         })
        //     })
        // })
        $.fn.smartFloat = function () {
            var position = function (element) {
                var top = element.position().top, pos = element.css("position");
                $(window).scroll(function () {
                    var scrolls = $(this).scrollTop();
                    if (scrolls > top) {
                        if (window.XMLHttpRequest) {
                            element.css({
                                position: "fixed",
                                top: 0
                            });
                        } else {
                            element.css({
                                top: scrolls
                            });
                        }
                    } else {
                        element.css({
                            position: pos,
                            top: top
                        });
                    }
                });
            };
            return $(this).each(function () {
                position($(this));
            });
        };
        $("#meru").smartFloat();

    </script>
    <!--    表头固定-->
    <style>

        div#meru {
            position: fixed;
            top: 0;
            left: 0;
        }

        #wTable tr td:nth-child(1) {
            width: 30px;
        }

        #wTable tr td:nth-child(2) {
            width: 50px;
        }

        #wTable tr td:nth-child(3) {
            width: 110px;
        }

        #wTable tr td:nth-child(4) {
            width: 320px;
        }

        #wTable tr td:nth-child(5) {
            width: 320px;
        }

        #wTable tr td:nth-child(6) {
            width: 100px;
        }

        /*table.top tr td{*/
        /*    vertical-align: top;*/
        /*}*/

    </style>
</head>
<body>
<div>
    <!--表头-->
    <div style="width:100%;height:60px" id="meru"></div>
    <br>
    <br>
    <br>
    <div style="width:90%" class='ui container'>
        <div class="ui right aligned category search">
            <table>
                <tr>
                    <td>
                        <!--模糊查询-->
                        <form th:action="@{/iteminfo}" method="post">
                            <div class="ui icon input">
                                <input class="prompt" type="text" name="searchConditions" placeholder="itemを検索">&emsp;
                                <button class="ui icon button" type="submit">
                                    <i class="search icon"></i>
                                </button>
                            </div>
                        </form>
                    </td>
                    <!--ショップ一覧をドロップダウンに入れる-->
                    <td>
                        <form action="" method="" id="findIteminfoBySiteShop" onchange="findIteminfoBySiteShop()">
                            <select class="ui dropdown" id='searchConditions'
                                    name="searchConditions">
                                <option value="">ショップを選択</option>
                                <option th:each="shop:${siteShopList}" th:value="${shop.getShopName()}"
                                        th:text="${shop.getShopName()}">
                                </option>
                            </select>
                        </form>
                    </td>
                </tr>
            </table>
            <div class='ui container' align="center">
                <!--/*@thymesVar id="message" type=""*/-->
                <p style="color: brown" id="message" th:text="${message}"></p>
            </div>

            <div class="results"></div>&emsp;

            <!--店铺名查询产品一览-->

        </div>

        <br>
        <!--        分页页面顶部-->
        <div align="center">
            <table width="800px">
                <tbody>
                <tr>
                    <td>
                        <a th:href="@{/iteminfo(pageNum=${1})}" class="ui button basic mini"
                           th:unless="${page.isFirstPage}">最初ページへ</a>
                        <a th:href="@{/iteminfo(pageNum=${page.pageNum-1})}" class="ui button basic mini"
                           th:unless="${page.isFirstPage}">前へ</a>
                    </td>
                    <td>
                        <h8 th:text="${page.pageNum}">2</h8>
                        ページ目/全
                        <h8 th:text="${page.pages}">4</h8>
                        ページ&emsp;
                        商品数
                        <h8 th:text="${page.total}">29</h8>

                    </td>
                    <td>
                        <form name="pageForm" th:action="@{/iteminfo}" method="get">
                            <div class="ui mini input ">
                                <input type="text" class="m-bg" name="pageNum" placeholder="何ページ"
                                       style="width:100px!important;height:30px!important;" required>
                                <button type="submit"
                                        style="font-size:11px!important;width:60px!important;height:23px!important;border:none;margin: 5px;padding:0;"
                                        class="button mini">
                                    へジャンプ
                                </button>

                            </div>
                        </form>
                    </td>
                    <td>&nbsp;</td>
                    <td style="float:right">
                        <a th:href="@{/iteminfo(pageNum=${page.pageNum+1})}" class="ui button basic mini"
                           style="float:right;" th:unless="${page.isLastPage}">次へ</a>
                        <a th:href="@{/iteminfo(pageNum=${page.getPages()})}" class="ui button basic mini"
                           style="float:right;" th:unless="${page.isLastPage}">最終ページへ</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <colgroup>
                <col style="width: 5%;">
                <col style="width: 30%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
            </colgroup>
            <table class="ui celled table scroll-box" id="wTable">
                <thead>
                <tr class="_sticky">
                    <!--                    一括操作-->
                    <select class="ui dropdown" id="bulk-operation">
                        <option value="">一括操作</option>
                        <option value="0">編集</option>
                        <option value="1">削除</option>
                        <option value="2">ダウンロード</option>
                    </select>
                </tr>
                <tr class="_sticky">
                    <th>
                        <input type="checkbox" id="allchecked" value="" onclick="selectAll()">&emsp;
                        <a style="color: dimgrey"><i class="download icon"></i></a>
                    </th>
                    <th>
                        <div class="title">操作</div>
                    </th>
                    <th>
                        <div class="title">商品写真</div>
                    </th>
                    <th>
                        <div class="title">商品情報</div>
                    </th>
                    <th>
                        <div class="title">商品規格</div>
                    </th>
                    <th>
                        <div class="title">時間/編集者</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${page.list}" class="_sticky">
                    <td valign="top">
                        <input type="checkbox" th:value="${item.getItemCode()}">
                    </td>
                    <td valign="top">
                        <a th:href="@{/}" class="ui button mini pink">編集</a>
                        <br><br>
                        <a th:href="@{deleteItem(itemCode=${item.getItemCode()})}" class="ui button mini teal">削除</a>
                    </td>
                    <td valign="top">
                        <div>
                            <a th:href="${item.getImage()}" th:target="_blank">
                                <img th:src="${item.getImage()}" width="100">
                            </a>
                        </div>
                    </td>
                    <td valign="top">
                        <form action="/setPrice" method="post">
                            <table>
                                <tr>
                                    <td colspan="2" style="border-right: none;border-bottom: none"><p
                                            th:text="${item.getItemName()}"></td>
                                    <td style="border-left: none;border-bottom: none"></td>
                                </tr>
                                <tr >
                                    <td style="width: 250px;border-top: none">
                                        <table>
                                            <tr>
                                                <div><h5 th:text="${item.getShopName()}"></h5></div>
                                            </tr>
                                            <tr>
                                                <div>商品コード：<span th:text="${item.getItemCode()}"></span></div>
                                            </tr>
                                            <tr>
                                                <div>販売価格：<span th:text="${item.getSalePrice()}"></span></div>
                                            </tr>
                                            <tr>
                                                <div>価格：<span th:text="${item.getPrice()}"></span></div>
                                            </tr>
                                            <tr>
                                                <div>元URL：<a th:href="${item.getUrl5()}" th:target="_blank"><i
                                                        class="eye icon"></i>確認</a></div>
                                            </tr>
                                            <tr>
                                                <div th:switch="${item.getUrl1()}">
                                                    仕入れ先１：
                                                    <span th:case="null" class="ui input mini"><i class="eye slash icon"></i><input type="text" name="url1" size="10"></span>
                                                    <span th:case="*"><a th:href="${item.getUrl1()}" th:target="_blank"><i
                                                            class="eye icon"></i></a></span>
                                                </div>
                                            </tr>
                                            <tr>
                                                <div th:switch="${item.getUrl2()}" class="ui input">
                                                    仕入れ先１：
                                                    <span th:case="null" class="ui input mini"><i class="eye slash icon"></i><input type="text" name="url2" size="10"></span>
                                                    <span th:case="*"><a th:href="${item.getUrl2()}" th:target="_blank"><i
                                                            class="eye icon"></i></a></span>
                                                </div>
                                            </tr>
                                            <tr>
                                                <div th:switch="${item.getUrl3()}" class="ui input">
                                                    仕入れ先１：
                                                    <span th:case="null" class="ui input mini"><i class="eye slash icon"></i><input type="text" name="url3" size="10"></span>
                                                    <span th:case="*"><a th:href="${item.getUrl3()}" th:target="_blank"><i
                                                            class="eye icon"></i></a></span>
                                                </div>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border-top: none">
                                        <table>

                                            <input name="itemCode" th:value="${item.getItemCode()}" type="hidden">
                                            <tr>
                                                <div class="ui input mini">
                                                    <input type="text" name="delivery" size="18" placeholder="送料">
                                                </div>
                                            </tr>
                                            <tr>
                                                <div class="ui input mini">
                                                    <input type="text" name="purchase-price" size="18"
                                                           placeholder="仕入れ価格">
                                                </div>
                                            </tr>
                                            <tr>
                                                <div class="ui input mini">
                                                    <input type="text" name="salePrice" size="18" placeholder="販売価格">
                                                </div>
                                            </tr>
                                            <tr>
                                                <div class="ui input mini blanl">
                                                    <input type="submit" size="18">
                                                </div>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                    <td valign="top">
                        <table id="top">
                            <tr th:if="${item.getOption1() != null}">
                                <td><input type="checkbox"></td>
                                <td style="width: 120px"><p th:text="${item.getOption1()}"></p></td>
                                <td style="width: 300px"><span
                                        th:text="${item.getValue1().replaceAll(' ','、')}"></span>
                                </td>
                            </tr>
                            <tr th:if="${item.getOption2() != null}">
                                <td><input type="checkbox"></td>
                                <td style="width: 120px"><p th:text="${item.getOption2()}"></p></td>
                                <td style="width: 300px"><span
                                        th:text="${item.getValue2().replaceAll(' ', '、')}"></span></td>
                            </tr>
                            <tr th:if="${item.getOption3() != null}">
                                <td><input type="checkbox"></td>
                                <td style="width: 120px"><p th:text="${item.getOption3()}"></p></td>
                                <td style="width: 300px"><span
                                        th:text="${item.getValue3().replaceAll(' ', '、')}"></span></td>
                            </tr>
                            <tr th:if="${item.getOption4() != null}">
                                <td><input type="checkbox"></td>
                                <td style="width: 120px"><p th:text="${item.getOption4()}"></p></td>
                                <td style="width: 300px"><span
                                        th:text="${item.getValue4().replaceAll(' ', '、')}"></span></td>
                            </tr>
                            <tr th:if="${item.getOption5() != null}">
                                <td><input type="checkbox"></td>
                                <td style="width: 120px"><p th:text="${item.getOption5()}"></p></td>
                                <td style="width: 300px"><span
                                        th:text="${item.getValue5().replaceAll(' ', '、')}"></span></td>
                            </tr>
                        </table>

                    </td>
                    <td valign="top">
                        <div><p>・作成日</p></div>
                        <div><span th:text="${item.getCreated()}"></span></div>
                        <div><p>・更新日</p></div>
                        <div><span th:text="${item.getUpdatetime()}"></span></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <!--        分页页面底部-->
        <div align="center">
            <table width="800px">
                <tbody>
                <tr>
                    <td>
                        <a th:href="@{/iteminfo(pageNum=${1})}" class="ui button basic mini"
                           th:unless="${page.isFirstPage}">最初ページへ</a>
                        <a th:href="@{/iteminfo(pageNum=${page.pageNum-1})}" class="ui button basic mini"
                           th:unless="${page.isFirstPage}">前へ</a>
                    </td>
                    <td>
                        <h8 th:text="${page.pageNum}">2</h8>
                        ページ目/全
                        <h8 th:text="${page.pages}">4</h8>
                        ページ&emsp;
                        商品数
                        <h8 th:text="${page.total}">29</h8>

                    </td>
                    <td>
                        <form name="pageForm" th:action="@{/iteminfo}" method="get">
                            <div class="ui mini input ">
                                <input type="text" class="m-bg" name="pageNum" placeholder="何ページ"
                                       style="width:100px!important;height:30px!important;" required>
                                <button type="submit"
                                        style="font-size:11px!important;width:60px!important;height:30px!important;border:none;margin: 5px;padding:0;"
                                        class="button mini">
                                    へジャンプ
                                </button>

                            </div>
                        </form>
                    </td>
                    <td>&nbsp;</td>
                    <td style="float:right">
                        <a th:href="@{/iteminfo(pageNum=${page.pageNum+1})}" class="ui button basic mini"
                           style="float:right;" th:unless="${page.isLastPage}">次へ</a>
                        <a th:href="@{/iteminfo(pageNum=${page.getPages()})}" class="ui button basic mini"
                           style="float:right;" th:unless="${page.isLastPage}">最終ページへ</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <br>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>