<div class="ui four item menu" id="nav" >
    <a class="item" th:href="@{/}">クローラー</a>
    <a class="item" th:href="@{/iteminfo(id=${1})}">商品データ</a>
    <a class="item" th:href="@{/orderinfo}">注文データ</a>
    <a class="item" th:href="@{/}">設定</a>
</div>


<!--<nav>-->
<!--    <ul>-->
<!--        <li><a class="item" th:href="@{/}">クローラー</a></li>-->
<!--        <li><a class="item" th:href="@{/iteminfo}">商品データ</a></li>-->
<!--        <li><a class="item" th:href="@{/orderinfo}">注文データ</a></li>-->
<!--        <li><a class="item" th:href="@{/}">設定</a></li>-->
<!--    </ul>-->
<!--</nav>-->



