<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="con.chin.mapper.ItemMapper">

    <!--    新产品登录-->
    <insert id="saveItem">

        insert into t_item (sitename,
                            shopname,
                            itemcode,
                            olditemcode,
                            itempath,
                            itemcategorycode,
                            itemname,
                            price,
                            saleprice,
                            option1,
                            value1,
                            option2,
                            value2,
                            option3,
                            value3,
                            option4,
                            value4,
                            option5,
                            value5,
                            url5,
                            headline,
                            caption,
                            explanation,
                            image,
                            flog,
                            created,
                            updatetime,
                            enddate)
        values (#{siteName},
                #{shopName},
                #{itemCode},
                #{oldItemCode},
                #{itemPath},
                #{itemCategoryCode},
                #{itemName},
                #{price},
                #{salePrice},
                #{option1},
                #{value1},
                #{option2},
                #{value2},
                #{option3},
                #{value3},
                #{option4},
                #{value4},
                #{option5},
                #{value5},
                #{url5},
                #{headline},
                #{caption},
                #{explanation},
                #{image},
                #{flog},
                #{created},
                #{updatetime},
                #{endDate})

    </insert>

    <!--    产品更新-->
    <update id="updateItem">

        update t_item
        set shopname=#{shopName},
            itemname=#{itemName},
            price=#{price},
            saleprice=#{salePrice},
            option1=#{option1},
            value1=#{value1},
            option2=#{option2},
            value2=#{value2},
            option3=#{option3},
            value3=#{value3},
            option4=#{option4},
            value4=#{value4},
            option5=#{option5},
            value5=#{value5},
            headline=#{headline},
            url5=#{url5},
            Caption=#{caption},
            explanation=#{explanation},
            updatetime=#{updatetime}
        where oldItemCode = #{oldItemCode}

    </update>

    <!--    产品更新-->
    <update id="updateItemByCsv" parameterType="java.util.List">
        update t_item
        set itemPath = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.itemPath}
        </foreach>
        ),
        itemName = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.itemName}
        </foreach>
        ),
        salePrice = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.salePrice}
        </foreach>
        ),
        option1 = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.option1}
        </foreach>
        ),
        value1 = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.value1}
        </foreach>
        ),
        option2 = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.option2}
        </foreach>
        ),
        value2 = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.value2}
        </foreach>
        ),
        option3 = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.option3}
        </foreach>
        ),
        value3 = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.value3}
        </foreach>
        ),
        option4 = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.option4}
        </foreach>
        ),
        value4 = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.value4}
        </foreach>
        ),
        option5 = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.option5}
        </foreach>
        ),
        value5 = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.value5}
        </foreach>
        ),
        headline = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.headline}
        </foreach>
        ),
        url5 = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.url5}
        </foreach>
        ),
        itemCategoryCode = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.itemCategoryCode}
        </foreach>
        ),
        updatetime = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.updatetime}
        </foreach>
        ),
        flog = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.flog}
        </foreach>
        )
        where itemcode in(
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        );

    </update>

    <!--    已编辑并且没有失效的产品-->
    <select id="findAllItem" resultType="con.chin.pojo.Item">

        select *
        from t_item
        where flog = 1
          and enddate = '2099-12-31 23:59:59'

    </select>

    <!--    旧产品code检索-->
    <select id="findItem" resultType="con.chin.pojo.Item">

        select *
        from t_item
        where olditemcode = #{oldItemCode}
          and flog != 3

    </select>

    <!--    产品id,产品path,产品名,店铺名模糊查询-->
    <select id="findItemBySearchConditions" resultType="con.chin.pojo.Item">

        select *
        from t_item
        <where>

            <if test="searchConditions != null and searchConditions != ''">
                and ( itemcode like concat('%',#{searchConditions},'%')
            </if>
            <if test="searchConditions != null and searchConditions != ''">
                or itempath like '%' #{searchConditions} '%'
            </if>
            <if test="searchConditions != null and searchConditions != ''">
                or itemname like concat('%',#{searchConditions},'%')
            </if>
            <if test="searchConditions != null and searchConditions != ''">
                or shopname like concat('%',#{searchConditions},'%')
            </if>
            <if test="searchConditions != null and searchConditions != ''">
                or olditemcode like concat('%',#{searchConditions},'%') )
            </if>
            <if test="shopName != null and shopName != ''">
                and shopname = #{shopName}
            </if>
            <if test="itemPathFlog == 1">
                and itemPath is not null and itemPath != ''
            </if>
            <if test="itemPathFlog == 0">
                and (itemPath is null or itemPath = '')
            </if>
            <if test="flog != null">
                and flog = #{flog}
            </if>
            <if test="flog == null">
                and flog not in (3)
            </if>

        </where>

        order by updatetime desc

    </select>

    <!--    SiteShop查询-->
    <select id="findItemBySiteShop" resultType="con.chin.pojo.Item">

        select *
        from t_item
        <where>

            <if test="shopName != null and shopName != ''">
                and shopname like concat('%',#{shopName},'%')
            </if>
            <if test="flog != null">
                and flog = #{flog}
            </if>

        </where>

        order by updatetime desc

    </select>

    <!--    SiteShop查询不包含删除准备和中文产品-->
    <select id="downloadFindItemBySiteShop" resultType="con.chin.pojo.Item">

        select *
        from t_item
        <where>

            <if test="siteShop != null and siteShop != ''">
                and shopname = #{siteShop}
            </if>
            <if test="flog != null and flog != ''">
                and flog = #{flog}
            </if>

        </where>
    </select>

    <!--    获取产品code-->
    <select id="findItemCodeByPath" resultType="string">

        select itemcode
        from t_item
        where itempath = #{path}

    </select>

    <!--    获取新爬取的产品-->
    <select id="findItemByStatus" resultType="con.chin.pojo.Item">

        select *
        from t_item
        <if test="flog != null">
            and flog = #{flog}
        </if>

    </select>

    <!--一个删除-->
    <delete id="deleteItem">
        delete
        from t_item
        where itemcode = #{itemCode}setItemInfo
    </delete>

    <!--多个删除-->
    <delete id="deleteItems">
        delete
        from t_item
        where itemcode in
        <foreach collection="list" item="itemCode" open="(" close=")" separator=",">
            #{itemCode}
        </foreach>
    </delete>

    <update id="setItemInfo">
        update t_item
        set headline=#{headline},
            itemname=#{itemName},
            purchaseprice=#{purchasePrice},
            delivery=#{delivery},
            saleprice=#{salePrice},
            price=#{price},
            itempath=#{itemPath},
            explanation=#{explanation},
            itemCategoryCode=#{itemCategoryCode},
            url1=#{url1},
            url2=#{url2},
            url3=#{url3},
            flog=#{flog},
            option1 = #{option1},
            value1 = #{value1},
            option2 = #{option2},
            value2 = #{value2},
            option3 = #{option3},
            value3 = #{value3},
            option4 = #{option4},
            value4 = #{value4},
            option5 = #{option5},
            value5 = #{value5},
            updatetime=#{updatetime}
        where itemcode = #{itemCode}
    </update>

    <!--    新itemcode查询-->
    <select id="findItemByItemCode" resultType="con.chin.pojo.Item">
        select *
        from t_item
        where itemcode = #{itemCode}
    </select>

    <!--    新itemcode查询-->
    <select id="findItemsByItemCode" resultType="con.chin.pojo.Item">
        select *
        from t_item
        where itemcode = #{itemCode}
    </select>

    <!--    多个itemid查询-->
    <select id="findItemByItemCodes" resultType="con.chin.pojo.Item">

        select * from t_item
        where itemcode in
        <foreach collection="list" item="itemCode" open="(" close=")" separator=",">
            #{itemCode}
        </foreach>
    </select>

    <!--    option削除-->
    <update id="deleteOption">
        update t_item
        set option1   = #{option1},
            value1    = #{value1},
            option2   = #{option2},
            value2    = #{value2},
            option3   = #{option3},
            value3    = #{value3},
            option4   = #{option4},
            value4    = #{value4},
            option5   = #{option5},
            value5    = #{value5},
            updatetime=#{updatetime}
        where itemcode = #{itemCode}
    </update>
    <!--    更新option值-->
    <update id="updateOption">
        update t_item
        set option1   = #{option1},
            value1    = #{value1},
            option2   = #{option2},
            value2    = #{value2},
            option3   = #{option3},
            value3    = #{value3},
            option4   = #{option4},
            value4    = #{value4},
            option5   = #{option5},
            value5    = #{value5},
            updatetime=#{updatetime}
        where itemcode = #{itemCode}
    </update>

    <update id="setItemFlog">
        update t_item
        set flog=#{flog},
            updatetime=#{updatetime}
        where itemCode = #{itemCode}
    </update>

    <update id="setItemFlogs">
        update t_item
        set flog = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.flog}
        </foreach>
        ),
        updatetime = elt(FIELD(itemcode,
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        ),
        <foreach collection="list" item="item" separator=",">
            #{item.updatetime}
        </foreach>
        )
        where itemcode in(
        <foreach collection="list" item="item" separator=",">
            #{item.itemCode}
        </foreach>
        );
    </update>

    <!--    下载查询结果集-->
    <select id="downloadFindItemBysearchConditions" resultType="con.chin.pojo.Item">

        select *
        from t_item
        <where>

            <if test="searchConditions != null and searchConditions != ''">
                and ( itemcode like concat('%',#{searchConditions},'%')
            </if>
            <if test="searchConditions != null and searchConditions != ''">
                or itempath like '%' #{searchConditions} '%'
            </if>
            <if test="searchConditions != null and searchConditions != ''">
                or itemname like concat('%',#{searchConditions},'%')
            </if>
            <if test="searchConditions != null and searchConditions != ''">
                or shopname like concat('%',#{searchConditions},'%')
            </if>
            <if test="searchConditions != null and searchConditions != ''">
                or olditemcode like concat('%',#{searchConditions},'%'))
            </if>
            <if test="siteShop != null and siteShop != ''">
                and shopname = #{siteShop}
            </if>
            <if test="flog != null">
                and flog = #{flog}
            </if>
            <if test="flog != null">
                and flog not in (3,5)
            </if>
            <if test="flog == null">
                and flog not in (3,5)
            </if>

        </where>

        order by updatetime desc

    </select>

<!--&lt;!&ndash;    检索newitemcode&ndash;&gt;-->
<!--    <select id="selectItemCodeByDesc" resultType="Integer">-->
<!--        SELECT count(newitemcode)-->
<!--        from t_item-->
<!--        WHERE itemPath like concat('%',#{itemPath},'%')-->
<!--    </select>-->

    <!--    ###################数据错误时修改用########################-->

    <select id="findAll" resultType="con.chin.pojo.Item">

        select *
        from t_item
    </select>

    <update id="setdate">
        update t_item
        set shopname = #{shopName}
        where itemCode = #{itemCode}
    </update>


</mapper>
































