<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="con.chin.mapper.PurchasingItemMapper">

    <!--    新产品登录-->
    <insert id="savePurchasingItem">

        insert into t_purchasingItem (sitename,
                                      shopname,
                                      itemcode,
                                      olditemcode,
                                      itemname,
                                      purchaseprice1,
                                      purchaseprice2,
                                      purchaseprice3,
                                      option1,
                                      value1,
                                      option2,
                                      value2,
                                      option3,
                                      value3,
                                      option4,
                                      value4,
                                      option5,
                                      value5,
                                      url,
                                      explanation,
                                      image,
                                      flog,
                                      created,
                                      updatetime)
        values (#{siteName},
                #{shopName},
                #{itemCode},
                #{oldItemCode},
                #{itemName},
                #{purchasePrice1},
                #{purchasePrice2},
                #{purchasePrice3},
                #{option1},
                #{value1},
                #{option2},
                #{value2},
                #{option3},
                #{value3},
                #{option4},
                #{value4},
                #{option5},
                #{value5},
                #{url},
                #{explanation},
                #{image},
                #{flog},
                #{created},
                #{updatetime})

    </insert>

    <!--    产品更新-->
    <update id="updatePurchasingItem">

        update t_purchasingItem
        set itemname=#{itemName},
            purchaseprice1=#{purchasePrice1},
            purchaseprice2=#{purchasePrice2},
            purchaseprice3=#{purchasePrice3},
            option1=#{option1},
            value1=#{value1},
            option2=#{option2},
            value2=#{value2},
            option3=#{option3},
            value3=#{value3},
            option4=#{option4},
            value4=#{value4},
            option5=#{option5},
            value5=#{value5},
            url=#{url},
            explanation=#{explanation},
            image=#{image},
            flog=#{flog},
            updatetime=#{updatetime}
        where oldItemCode = #{oldItemCode}

    </update>

    <!--    旧产品code检索-->
    <select id="findPurchasingItem" resultType="con.chin.pojo.PurchasingItem">

        select *
        from t_purchasingItem
        where olditemcode = #{OldpurchasingItemCode}

    </select>

    <!--    把flog为0的全部查到-->
    <select id="findPurchasingItemByFlog0" resultType="con.chin.pojo.PurchasingItem">

        select *
        from t_purchasingItem
        where flog = 0

    </select>

    <!--    产品id,产品path,产品名,店铺名模糊查询-->
    <select id="findPurchasingItemQueryBySearchConditions" resultType="con.chin.pojo.PurchasingItem">

        select *
        from t_item
        <where>

            <if test="searchConditions != null and searchConditions != ''">
                and ( itemcode like concat('%',#{searchConditions},'%')
            </if>
            <if test="searchConditions != null and searchConditions != ''">
                or itempath like '%' #{searchConditions} '%'
            </if>
            <if test="searchConditions != null and searchConditions != ''">
                or itemname like concat('%',#{searchConditions},'%')
            </if>
            <if test="searchConditions != null and searchConditions != ''">
                or shopname like concat('%',#{searchConditions},'%')
            </if>
            <if test="searchConditions != null and searchConditions != ''">
                or olditemcode like concat('%',#{searchConditions},'%') )
            </if>
            <if test="shopName != null and shopName != ''">
                and shopname = #{shopName}
            </if>
            <if test="flog != null">
                and flog = #{flog}
            </if>

        </where>

        order by updatetime desc

    </select>


</mapper>































